.welcome {
    color: white;
    width: auto;
    font-size: xx-large;
    font-weight: bold;
    text-align: left;
    padding-top: 10vh;
  }

  #line1 {
    font-weight: normal;
    font-size: large;
  }