.welcome {
    color: white;
    width: auto;
    font-size: x-large;
    font-weight: bold;
    text-align: left;
    padding-top: 10vh;
  }

  #nameline {
    font-size: xxx-large;
  }

  #line1 {
    font-weight: normal;
  }