* {
  margin: 0;
}

.app {
  min-height: 100vh;
  background: black;
  font-family: 'DM Sans';
  font-size: 16px;
}

#firstbreak {
  height: 0.5em;
}

#name {
  color: white;
  font-size: 2em;
  font-weight: bold;
  margin-left: 0.5em;
}

.break {
  height: 4em;
}

.main {
  margin: auto;
}

.welcome {
  color: white;
  width: auto;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

#projdiv {
  width: 100%;
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: space-evenly;
  row-gap: 72px;
  column-gap: 2px;
}

.project {
  padding: 10px;
  background: white;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  height: 300px;
}

.wip {
  width: fit-content;
  padding: 0.6em;
  color: black;
  font-size: 1.5em;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  margin: 0 auto;
}

.links {
  font-size: 1.5em;
  color: white;
  text-align: center;
  padding-bottom: 2em;
}

.links a:link {
  color: white;
}

.links a:visited {
  color: white;
}

text span {
  display: block;
}